
 <table class="table" style="max-height:50%, max-width:50%">
            <thead>
                <tr>
                    <!-- 3 colums: -->
                    <th>  </th>
                    <th> Value </th>
                </tr>
            </thead>

            <tr>
                <td> Policy cost per share </td>
                <td>{{tau}}</td>
            </tr>
          <tr>
                <td> Policy benefit </td>
                <td>{{ private_benefit}} points </td>
            </tr>
    </table>
            
                