{% load otree %}

<div class="card bg-light m-3">
    <div class="card-body">
    <h3>
        Instructions
    </h3>

    <p>
        In this study, you will be randomly assigned to a group
        of {{ Constants.players_per_group }} participants. Each participant in
        the group is given . The group
        has the opportunity to undertake a joint project. Each participant in
        the group decides how much she or he is going to contribute to
        the project. Contribution could be any integer from 0
        to
    </p>
    <p>

    </p>
    </div>
</div>

